
h1 {
    text-align: center;
    font-size: 350%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(76, 16, 214);

}


.img1{
    width: 800px;
}
.img2{
    width: 800px;
}
.img3{
    width: 800px;
}
